.button{
  border-radius: 5px;
  line-height: 45px;
  font-family: $form-font;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 0 0 8px gray;
  }
  .submit__button{
    width: 90%;
    border: 1px solid #478aa5;
   
  }
  .submit__button:hover{
    background: #478aa5;
    color: white;
    font-weight: bold;
   
  }
  .back__button{
    width: 50%;
    padding: auto 10px;
    border: 1px solid  $black;
    color: $black;
    text-align: center;
    background:  $new__box-color;
  }
  .back__button:hover{
    opacity: 0.7;
  }