.button{
  border-radius: 5px;
  line-height: 45px;
  font-family: $form-font;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 0 0 8px gray;
  }
  .submit__button{
    width: 90%;
    border: 1px solid $button-blue;
    background: $button-blue;
    color: $white;
   
  }
  .submit__button:hover{
    background: #498fab;
    font-weight: bold;
   
  }
  .back__button{
    width: 50%;
    padding: auto 10px;
    border: 1px solid  gray;
    color: $white;
    text-align: center;
    background:  gray;
  }
  .back__button:hover{
    opacity: 0.9;
  }