$line-color: rgba(0, 0, 0, 0.3);
$black: #1f1f1f;

@mixin border-line {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(to right,  #eacda3 0%,  #9a8478 100%);
  border-image-slice: 1;
}

@mixin wood-color{
  background:
    linear-gradient(
      90deg,
      rgba(52, 51, 51, 0.824),
      rgba(50, 49, 49, 0.6) 60%,
      rgba(67, 66, 66, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #2d2c2b,
      #1d1d1c 0.2%,
      #292929 0.6%,
      #3f3f3f 1%
    );
}
