$line-color: #9e9e9e;
$black: #1f1f1f;
$white: #fff;
$button-blue:#478aa5;


@mixin border-line {
  border-bottom: 2.5px solid;
  border-image: linear-gradient(to left,  #eacda3 0%,  #9a8478 100%);
  border-image-slice: 1;
}

@mixin clear-color{
  background-color: rgba( 255, 255, 255, 0.4);
}

body{
  background-image: image-url("paper.jpg");
  min-height: 100vh;
}
