.sub__title{
  font-family: 'Sriracha', cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 15px;
  margin: 0 auto;
  a{
    color: $black;
  }
}
.container{
  width : 650px;
  margin: 10px auto;
  font-family: $form-font;
  color: $black;
  @include clear-color;
  border-radius: 5px;
  box-shadow: 0 0 100px gray;
  .form{
    width: 400px;
    height: 880px;
    margin: 5px auto;
    .form-content{
      display: block;
      height: 45px;
      width: 375px;
      border: 1px solid $line-color;
      padding: 0 20px;
      font-size: 25px;
    }
    .item-select{
      font-size: 20px;
      padding: 15px 0 2px;
      @include border-line;
      width: 135px;
      margin-bottom: 7px;
    }
    .select-box{
      -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
      width: 80%;
      height: 50px;
      background-color: $white;
      padding: 0 10px;
    }
    .file__button{
      display: inline-block;
      height: 30px;
      width: 200px;
      cursor: pointer;
      padding: 4px;
      text-align: center;
      left: 100px;
      background: gray;
      border: 1px solid gray;
      position: relative;
      overflow: hidden;
      color: $white;
      border-radius: 4px;
      margin: 4px auto;
        .file__input{
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          opacity: 0;
          touch-action: auto;
          cursor: pointer;
        }
    }
    .file__button:hover{
      opacity: 0.9;
    }
    #preview{
      width: 152px;
      height: 152px;
      border:  1px dashed $line-color;
      margin: 0 auto;
      background-color: $white;
      img{
        height: 150px;
        width: 150px;
        object-fit: cover;
      }
    }
    .price-box{
      display: flex;
      padding-top: 20px;
    }
    .item-price{
      font-size: 20px;
      padding-top: 15px;
      @include border-line;
      width: 135px;
    }
    .item-price:after{
      content: "¥";
      position: absolute;
      right: 700px;
    }
      .item-price__box{
        height: 45px;
        width: 43%;
        margin-left: 90px;
        margin-top: 8px;
        background-color: $white;
        padding: 0 20px;
        font-size: 20px;
        border: 1px solid $line-color;
      }
  }
}
.alert-warning{
  color :red;
  display: inline;
}

.field_with_errors {
  display: inline;
}