.new{
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}
.sub__title{
  font-family: 'Sriracha', cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 15px;
  margin: 0 auto;
  a{
    color: $black;
  }
}
.container{
  width : 650px;
  margin: 10px auto;
  font-family: $form-font;
  color: $black;
  @include clear-color;
  border-radius: 5px;
  box-shadow: 0 0 100px gray;
  .form{
    width: 400px;
    height: 800px;
    margin: 5px auto;
    .form-content{
      display: block;
      height: 45px;
      width: 375px;
      border: 1px solid $line-color;
      padding: 0 20px;
      font-size: 25px;
    }
    .item-select{
      font-size: 20px;
      padding: 15px 0 2px;
      @include border-line;
      width: 135px;
      margin-bottom: 7px;
    }
    .select-box{
      -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
      width: 80%;
      height: 50px;
      background-color: $white;
      padding: 0 10px;
    }
    #preview{
      width: 152px;
      height: 152px;
      border:  1px dashed $line-color;
      margin: 0 auto;
      background-color: $white;
      img{
        height: 150px;
        width: 150px;
        object-fit: cover;
      }
    }
    .price-box{
      display: flex;
      padding-top: 20px;
    }
    .item-price{
      font-size: 20px;
      padding-top: 15px;
      @include border-line;
      width: 135px;
    }
    .item-price:after{
      content: "¥";
      position: absolute;
      right: 700px;
    }
      .item-price__box{
        height: 45px;
        width: 43%;
        margin-left: 90px;
        margin-top: 8px;
        background-color: $white;
        padding: 0 20px;
        font-size: 20px;
        border: 1px solid $line-color;
      }
  }
}
.alert-warning{
  color :red;
}

