header{
  height: 110px;
  width: 90%;
  .header__title{
  font-family: 'Sriracha', cursive;
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
  a{
    color: $black;
  }
}
  .user__name{
    text-align: right;
    padding-right: 200px;
    font-size: 18px;
    font-family: $sub-font;
    color: $black;
  }
}