*{
  box-sizing: border-box;
}
.left-header{
  height: 730px;
  width: 250px;
  padding: 80px 50px;
  display: flex;
  &__lists{
    width: 120px;
    height: 600px;
    padding-top: 115px;
  }
  .nav {
    margin-bottom: 70px;
    position: relative;
    cursor: pointer;
  }
  .select{
    color: $black;
    font-family: $sub-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
  }
  #option{
    text-decoration: none;
    list-style: none;
    color: $black;
    font-size: large;
    display: none;
    font-family: $sub-font;
  }
  .nav:after{
    position: absolute;
    content: "▼";
    font-size: 7px;
    right: 0;
    bottom: 1px;
    color: #9a8478;
    }
  .icon{
    font-family: $sub-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
    margin: 40px 0;
    .fa{
      color: $black;
    }
    a{
      color: $black;
    }
    }
  }


