*{
  box-sizing: border-box;
}
.left-header{
  width: 250px;
  height: 650px;
  padding: 40px 30px 0 70px;
  position: relative;
  &__lists{
    width: 120px;
    height: 400px;
  }
  .nav {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
  }
  .select{
    color: $black;
    font-family: $main-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
  }
  #option{
    text-decoration: none;
    list-style: none;
    font-size: large;
    display: none;
    font-family: $main-font;
    li{
      a{
        color: $black;
        font-size: 21px;
      }
      .fa{
        color: $black;
      }
    }
    .white{
        .fa{
          color:white
        }
    }
    .navy{
      .fa{
        color: navy
      }
      }
      .gray{
        .fa{
          color: gray
        }
      }
      .beige{
        .fa{
          color: #E0D1AD;
        }
      }
      .green{
        .fa{
          color: green;
        }
      }
      .rainbow{
        .fa{
          color: #dcdcdc;
          background: -moz-linear-gradient(top, #FFC778, #FFF 30%, #F89174 60%, #748af8);
          background: -webkit-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
          background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 40%, #748af8);
          border-radius:20%;
        }
      }
    }
  }
  .select:after{
    position: absolute;
    content: "▼";
    font-size: 12px;
    right: 0;
    bottom: 1px;
    color: #9a8478;
    }
  .select_a:after{
    position: absolute;
    content: "▲";
    font-size: 12px;
    right: 0;
    bottom: 1px;
    color: #9a8478;
  }
  .icon{
    font-family: $main-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
    margin: 30px 0;
    .fa{
      color: $black;
    }
    a{
      color: $black;
    }
    }
    .trash-box{
    font-family: $main-font;
    font-size: 100px;
    left: 80px;
    bottom: 25px;
    position: absolute;
      .fa{
        color: $black;
      }
    }
    .move-trash{
      font-size: 150px;
      transform: rotate(30deg);
    }


