*{
  box-sizing: border-box;
}
.left-header{
  height: 730px;
  width: 250px;
  padding: 80px 50px;
  display: flex;
  &__lists{
    width: 120px;
    height: 600px;
    padding-top: 115px;
  }
  .nav {
    margin-bottom: 70px;
    position: relative;
    cursor: pointer;
  }
  .select{
    color: $black;
    font-family: $sub-font;
    @include border;
    font-size: X-large;
    font-weight: bold;
  }
  #option{
    text-decoration: none;
    list-style: none;
    color: $black;
    font-size: large;
    display: none;
    font-family: $sub-font;
  }
  .nav:after{
    position: absolute;
    content: "▼";
    font-size: 7px;
    right: 0;
    bottom: 1px;
    color: #9a8478;
  }
  // &__lists{
  //   margin-top: 25px;
  //   .list{
  //     padding: 30px 0;
  //     position: relative;
  //     .select-box{
  //       -webkit-appearance: none;
  //       -moz-appearance: none;
  //       appearance: none;
  //       border: none;
  //       border-bottom: 1px solid $line-color;
  //       border-radius: 0;
  //       width: 120px;
  //       height: 45px;
  //       background-color:white;
  //       cursor: pointer;
  //     }
  //     select:-ms-expand{
  //       display: none;
  //     }
  //     %option{
  //       -webkit-appearance: none;
  //       -moz-appearance: none;
  //     }
  //   }
  //   .list:after{
  //     position: absolute;
  //     content: "▼";
  //     font-size: 10px;
  //     pointer-events: none;
  //     color: $line-color;
  //     z-index: 1;
  //     right: 22px;
  //     bottom: 39px;
  //   }
  }


