*{
  box-sizing: border-box;
}
.left-header{
  height: 770px;
  width: 250px;
  padding: 70px 50px;
  display: flex;
  position: relative;
  &__lists{
    width: 120px;
    height: 600px;
    padding-top: 50px;
  }
  .nav {
    margin-bottom: 70px;
    position: relative;
    cursor: pointer;
  }
  .select{
    color: $black;
    font-family: $sub-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
  }
  #option{
    text-decoration: none;
    list-style: none;
    font-size: large;
    display: none;
    font-family: $sub-font;
    li{
      a{
        color: $black;
      }
    }
  }
  .nav:after{
    position: absolute;
    content: "▼";
    font-size: 7px;
    right: 0;
    bottom: 1px;
    color: #9a8478;
    }
  .icon{
    font-family: $sub-font;
    @include border-line;
    font-size: X-large;
    font-weight: bold;
    margin: 40px 0;
    .fa{
      color: $black;
    }
    a{
      color: $black;
    }
    }
    .trash-box{
    font-family: $sub-font;
    font-size: 60px;
    left: 87px;
    bottom: 42px;
    position: absolute;
      .fa{
        color: $black;
      }
    }
  }


