.main{
  height: 100%;
  width: calc(100% - 250px);
&__title{
  font-family: 'Sriracha', cursive;
  font-size: 55px;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 10px;
  color: $black;
  width: 90%;
}
.user__name{
 text-align: right;
 padding-right: 100px;
 font-size: 18px;
 font-family: $sub-font;
 color: $black;
}
&__content{
  height: 90%;
  width: 98%;
}
  .items{
    background-color:#9e9e9e1a;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    overflow: scroll;
  .item{
    height: 220px;
    width: 200px;
    background-color:#9e9e9e1a;
    margin: 20px 42px;
    cursor: pointer;
    &__image{
      height: 180px;
      width: 180px;
      background-color: white;
      margin: 7px auto;
      img{
        height: 100%;
        width: 100%;
       }
    }
    &__name{
      font-family: $sub-font;
      cursor: pointer;
      text-align: center;
     }
  }
}
}