.wrapper
  

  = render "shared/left-bar"

  .main
    .main__title   -- Cloz --
    .items
      .row
        .item
          .item__image
          .item__name
            パーカー

        .item
          .item__image
          .item__name
            デニム
        
        .item
          .item__image
          .item__name
            靴
        
        .item
          .item__image
          .item__name
            靴
      .row
        .item
          .item__image
          .item__name
            パーカー

        .item
          .item__image
          .item__name
            デニム
        
        .item
          .item__image
          .item__name
            靴
        
        .item
          .item__image
          .item__name
            靴
      .row
        .item
          .item__image
          .item__name
            パーカー

        .item
          .item__image
          .item__name
            デニム
        
        .item
          .item__image
          .item__name
            靴
        
        .item
          .item__image
          .item__name
            靴