.wrapper
  = render "shared/header"
  .flex__box
    = render "shared/left-bar"
    = render partial: "shared/item", locals:{items: @outer__items}
    - breadcrumb :outer
    = render "shared/breadcrumbs"