.wrapper
  = render "shared/header"
  .flex__box
    = render "shared/left-bar"
    = render partial: "shared/item", locals:{items: @shoes__items}
    - breadcrumb :shoes
    = render "shared/breadcrumbs"
